/* CSS DEBUGGING TO VISUALIZE ALL THE ELEMENTS ON THE PAGE */
/* 
* {
    outline: 1px solid purple;
} */

.BackgroundImage {
  height: "1000px";
  /* background-image: url('./img/MarbleBackground.png');
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat; */
  background: url(./img/MarbleBackground.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .divider {
  border: 1px solid #bf7950;
} */

@font-face {
  font-family: "PlayfairDisplay";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("ttf");
  /* url('./fonts/iransans/eot/IRANSansWeb.eot') format('eot'),
  url('./fonts/iransans/woff/IRANSansWeb.woff') format('woff'),
  url('./fonts/iransans/woff2/IRANSansWeb.woff2') format('woff2') */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
